.products-grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 20px 0;
}

.load-btn {
  display: flex;
  justify-content: center;
  justify-self: center;
  width: 30%;
}

.btn-primary {
  background: var(--primary);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-primary:hover {
  background: var(--primary-dark);
}